.box{
	background-image:url(../images/flower 1.jpg);
	padding:100px;
	margin:100px;
}
.body{
	background-color: #ffffff
	background-image:url(../images/flower 1.jpg);
	color:white;
	font-size: 21px;
}